@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-attachment: fixed;
  margin: 0;
  background-color: white;
}

html{
  height: 100vh;
}

/* TOP NAV */

.topnav {
  overflow: hidden;
  background-color: #f95738;
  width: 100%;
  margin: 0;
  position: fixed;
  padding: 0;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  top: 0;
  font-size: 15px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
  text-decoration: none;
}

/*CARD*/

.card {
  width: 300px;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 200px;
  transition: transform 1s;
  background-color: #f95738;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  padding: 2px 2px;
  text-align: center;
  align-items: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 (to bottom right, #ccccff, #ebfafa);
  transform: scale(1.1);
}

.cardbuttons{
  display:flex;
  justify-content: space-evenly;
}

#profile-name {
  color:white;
  font-weight: bold;
  font-size: 45px;
}

.title{
  color:white;
  font-size: 25px;
}

#profile-image {
  display: inline-block;
  width: 200px;
  padding: 3%;
  border-radius: 80%;
  justify-content: center;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.iconbutton {
  border-radius: 60%;
  color: white;
  padding: 15px 15px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: .6s;
  transition-property: transform;
}

.footer {
  width: 55%;
  margin-top: 20px;
  margin-left: 2%;
  padding:1%
}

/*  ABOUT  */

.row {
  display: flex;
  margin-top:70px;
  justify-content: space-around;
  vertical-align: middle;
}

.column {
  background-color: #f95738;
  opacity: 0.9;
  float: left;
  vertical-align: middle;
  text-align: center;
  top: 35%;
  padding-left: 10px;
  width: 300px;
  padding: 10px;
  height: 380px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
  align-items: center;
  color:white;
}

.column:hover {
  transform: scale(1.1);
}

.center-p{
  align-items: center;
  vertical-align: middle;
  padding:2%;
}

.center-p-text{
  margin-top:15%;
  line-height: 20pt;
}

.gallery-img {
  display: none;
  width: 200px;
  height: 200px;
}

.active {
  display: block;
}

.image-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.gallery-img {
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-image: linear-gradient(to bottom right, #f95738, #f2ac9f);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 8px 15px;
}

.btn:disabled {
  background-image: linear-gradient(to bottom right,#f95738, #f2ac9f);
  opacity: 0.3;
  cursor: not-allowed;
}

.map-btns {
  margin-top:10px;
}
/* CONTACT */

.contact {
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding-top: 60px;
}

.form {
  top:20px;
  width: 350px;
  margin: auto;
  font-size: 15px;
}

input[type=text],
input[type=email],
select,
textarea {
  background-color: white;
  color:black;
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="time"] {
  width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: white;
}

#comment{
  height:100px;
}

#submitbtn:disabled {
  cursor: not-allowed;
  background-image: linear-gradient(to bottom right, #f95738, #f2ac9f);
  opacity: 0.6;
  padding: 12px 20px;
}

#submitbtn {
  border-radius: 4px;
  background-image: linear-gradient(to bottom right, #f95738, #f2ac9f);
  color: #ffffff;
  padding: 12px 20px;
  border-color: transparent;
}

@media (max-width: 800px) {
  .card {
    width: 250px;
    margin-top:100px;
    margin-bottom:80px;
    padding: 12%;
  }
  .contact{
    margin-top: 2%;
  }
  .form{
    width: 200px;
    margin-top: 20px;
    padding:2px;
  }
 input[type=text],
 input[type=email],
 select,
 textarea{
  margin-top: 1px;
  margin-bottom: 8px;
}
input[type="time"]{
  width: 45%;
}
#submitbtn{
  padding: 8px 10px;
}
#submitbtn:disabled {
  padding: 8px 10px;
}

.row{
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
}
.column{
padding:1%;
margin-bottom: 20px;
}

body{
  display: flex;
  flex-direction: column;
}

.footer{
display: none;
}
}